.navBg {
    background-color: #ffffff;
    border-bottom: 1px solid #8190a53d;
}

.navProf {
    z-index: 2;
    color: #47525E !important;
    font-family: unset !important;
    font-size: 15px;
}

.navCriarSala {
    color: #77d353 !important;
    font-weight: 500 !important;
    font-size: 15px;
}

.navLogout {
    color: #F95F62 !important;
    font-weight: 800 !important;
    font-size: 15px;
}

.navLogo {
    width: 50%;
}

.navTituloPage {
    font-family: unset;
    z-index: 1;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    font-weight: 600;
    padding-right: 40px;
}

.descriptionButtom {
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background: #976DD0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #FFF;
    align-self: center;
}

.buttonCheck {
    background-color: #976DD0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

.buttonCheck .input-group-text {
    background-color: #976DD0;
    border-color: #976DD0;
}