.checkButtonGroup {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.segundaParte{
  border-left-color: #969FAA;
  border-left-width: 2px;
  border-left-style: solid;
  padding-left: 50px;
}

.tituloSecao{
  color: #A3B1BE;
}

.secaoAtividade{
  margin-bottom: 30px;
}

.listEntradasSaidas{
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 80%;
  text-align: center;
  padding: 7px;
  color: #FFF;
  margin: 10px;
}

.ajudaSecao{
  color: #A3B1BE;
  font-size: 14px;
}